import(utils)
import(stats)
import(SeqArray)
importFrom(SeqVarTools, refChar, altChar)
importFrom(S4Vectors, subjectHits, queryHits)
importFrom(IRanges, IRanges)
importFrom(GenomicRanges, GRanges, findOverlaps)
importFrom(dplyr, arrange_, distinct_, filter_, mutate_, select_, inner_join, left_join, "%>%")
importFrom(tidyr, gather_, separate_)

export(readConfig,
       writeConfig,
       setConfigDefaults,
       getobj,
       insertChromString,
       sequentialVariantIds,
       calculateLambda,
       rankNorm,
       countThreads,
       aggregateListByAllele,
       aggregateListByPosition,
       getPhenotypes,
       addInvNorm,
       filterByChrom,
       filterByPass,
       filterByMAF,
       intToChr)
